#resultsPage {
    display: none;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: black;
    color: white;
}
.navbar p {
    color: white
}
html {
    background-color: lightgray;
}
td table thead {
    background-color: lightgray;
}
#resultsTable {
background-color: lightgray;
}
#tmResults {
    background-color: lightgray;
}
.history-btn:hover {
   cursor: pointer;
   background-color: lightblue;
    
}
#search-history li {
    display: flex;
    justify-content: center;
    align-items: column;
    padding: 2px 2px;
    border: 1px solid black; 

}
.card {
    display: inline-block;
    justify-content: center;
    border: black solid 5px;
}
.containerEl {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
input {
    margin: 5px;
}
#eventInput {
    margin: 5px;
}
#submitBtn {
    margin: 10px;
}
.textHistory{
    display: flex;
    justify-content: center;
}