
/* body {
    min-height: 100%;
} */
#resultsPage {
    display: none;
}
/* .content {
    margin-bottom: 0px;
} */
.navbar {
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
.navbar p {
    color: white
}
html {
    background-color: lightgray;
    /* height: 100%; */
}
td table thead {
    background-color: lightgray;
}
/* .columns {
    background-image: url("https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg");
    background-size: cover;
    position: relative;
    top: 0;
    

} */
#resultsTable {
background-color: transparent;
padding: 0px;
margin: 0px;
top: 5px;
}

#tmResults {
    background-color: transparent;
    top: 5px;
}
#searchPage {
    min-height: 100%;
}
.history-btn:hover {
   cursor: pointer;
   background-color: lightblue;

}

#search-history li {
    display: flex;
    justify-content: center;
    align-items: column;
    padding: 2px 2px;
    border: 1px solid black; 

}
.card {
    display: inline-block;
    justify-content: center;
    border: black solid 5px;
}
.containerEl {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
input {
    margin: 5px;
}
#eventInput {
    margin: 5px;
}
#submitBtn {
    margin: 10px;
}
.textHistory{
    display: flex;
    justify-content: center;
}


